<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <span class="bold-text mb-22">D.N High School (Secondary
                        & Higher Secondary)</span>
                    <div class=" mb-22"><b>૧૯ મી સદીની શરૂઆતમાં
                            શિક્ષણક્ષેત્રે ગુજરાતમાં “ડેક્કન એજ્યુકેશન
                            સોસાયટી” પુના સંચાલિત ફ્ર્ગ્યુંસન કોલેજનું વિશેષ
                            આકર્ષણ હતું.</b></div>
                    <div class="desc">આ સમયે વિદ્યાર્થીઓમાં ચારિત્ર્ય,
                        સંસ્કાર ,અભ્યાસ,અને રાષ્ટ્રીયતાની ઉચી અને
                        આગવી ભાત પડે તેવી ચરોતરમાં એક શૈક્ષણિક સંસ્થા હોય
                        તેવો વિચાર શ્રી મોતીભાઈ પટેલને આવ્યો.આ
                        વિચારોને પેટલાદ બોર્ડીંગ હાઉસના શિક્ષક શ્રી ભોકરે
                        અને શ્રી અંબાલાલ પટેલે વૈચારિક સિંચન
                        દ્વારા મોતીભાઈ ના સંકલ્પને સાકાર કરવાનો પ્રારંભ
                        કર્યો. ડેક્કન એજ્યુકેશન સોસાયટી જેવી
                        ચરોતરમાં એક શૈક્ષણિક સંસ્થા સ્થાપવાના નિર્ણયને
                        સમર્થન આપતા. ૧.સોજીત્રાના શ્રી અંબાલાલ
                        મોતીભાઈ પટેલ. ૨.કરમસદના શ્રી ભીખાભાઈ કુબેરભાઈ પટેલ.
                        ૩.બાંધણીના શ્રી ગોવર્ધનભાઈ
                        કાળીદાસભાઈ પટેલે સ્વયંસેવક તરીકે સેવા આપવાનું
                        સ્વીકાર્યું શૈક્ષણિક સંસ્થાના અનુભવ માટે
                        સ્વયંસેવકો ને બોરસદ અને વસો ની શાળામાં મોકલ્યા ,
                        મોતીભાઈ સાહેબ જાતે ઈ.સ. ૧૯૧૫માં પુના
                        પ્રત્યક્ષ જઈને ડેક્કન એજ્યુકેશન સોસાયટીની
                        કાર્યપદ્ધતિ અને બંધારણનો અભ્યાસ કર્યો. જેમાં
                        ફ્ર્ગ્યુંસન કોલેજના પ્રિન્સીપાલ આર.પી.પરાજયે અને
                        અન્ય સંચાલક સભ્યોના અનુભવો પ્રાપ્ત
                        કર્યા. જેના આધારે ઓક્ટોબર, ૧૯૧૫માં કામચલાઉ યોજના
                        તૈયાર કરીને “ ચરોતર એજ્યુકેશન સોસાયટી”
                        સ્થાપવા માટેનો માર્ગ પ્રસસ્થ કર્યો.</div>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->