<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.JPG" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="sub-title orange text-center">કન્યા કેળવણીનો પર્યાય એટલે કસ્તૂરબા કન્યા વિદ્યાલય
                    </div>
                    <div class="bold-text mb-22">સોસાયટીના સ્થાપક શ્રી ઈશ્વરભાઈ પટેલ અને શ્રી વિઠ્ઠલભાઈ પટેલે
                        કન્યા કેળવણીના મહત્વને ધ્યાનમાં રાખીને કન્યા વિદ્યાલયની શરૂઆત માટે 7 સપ્ટેમ્બર 1952ની
                        સામાન્ય સભામાં નિર્ણાયક ઠરાવ પસાર કર્યો હતો.</div>
                    <p class="text-justify mb-0">શાળાનું નામ મહાત્મા ગાંધીજીની સાથીદાર અને મહિલાઓ માટે
                        પ્રેરણારૂપ પૂજ્ય કસ્તૂરબાજી નામ પરથી રાખવામાં આવ્યું, જે ભવિષ્યની નારી શક્તિ માટે ઉત્તમ
                        પાયારૂપ સાબિત થયું.
                    </p>
                    <p class="desc text-justify mb-2"><b>કસ્તુરબા કન્યા વિદ્યાલયની યશસ્વી યાત્રા:</b></p>
                    <p class="text-justify mb-2">📅 8 જૂન 1953ના રોજ ચરોતર એજ્યુકેશન સોસાયટીના ભૂતપૂર્વ
                        વિદ્યાર્થી શ્રી શિવાભાઈ ગોકળભાઈ પટેલના હસ્તે શાળાની સ્થાપના કરવામાં આવી હતી.</p>
                    <p class="text-justify mb-2"><b>‘ચરોતર રત્ન’ શ્રી વિઠ્ઠલકાકા </b> જેવા શિક્ષણવિદના
                        માર્ગદર્શન હેઠળ
                        શાળાની વિકાસ યાત્રા શરુ થઇ છે.</p>
                    <p class="text-justify mb-2">👧 230 વિદ્યાર્થિનીઓથી શરૂ થયેલી આ શાળા આજે 2500 જેટલી
                        વિદ્યાર્થીનીઓને આધુનિક ટેકનોલોજીથી શિક્ષિત કરે છે</p>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->