<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">About</a>
                            </li>
                            <!-- <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision & Mission</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Objectives" role="tab" aria-controls="Objectives"
                                    aria-selected="false">Objectives</a>
                            </li> -->
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                                                        <div class="img-part js-tilt">
                                                            <img src="assets/images/about.JPG" alt="The journey of Charotar
                                                            English Medium School">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                                                        <div class="sec-title2">
                                                            <h2 class="title purple-color mb-30">
                                                                History
                                                            </h2>
                                                            <div>
                                                                <div class="sub-title orange text-center">કન્યા કેળવણીનો
                                                                    પર્યાય એટલે કસ્તૂરબા કન્યા વિદ્યાલય
                                                                </div>
                                                                <div class="bold-text mb-22">સોસાયટીના સ્થાપક શ્રી
                                                                    ઈશ્વરભાઈ પટેલ અને શ્રી વિઠ્ઠલભાઈ પટેલે
                                                                    કન્યા કેળવણીના મહત્વને ધ્યાનમાં રાખીને કન્યા
                                                                    વિદ્યાલયની શરૂઆત માટે 7 સપ્ટેમ્બર 1952ની
                                                                    સામાન્ય સભામાં નિર્ણાયક ઠરાવ પસાર કર્યો હતો.</div>
                                                                <p class="text-justify mb-0">શાળાનું નામ મહાત્મા
                                                                    ગાંધીજીની સાથીદાર અને મહિલાઓ માટે
                                                                    પ્રેરણારૂપ પૂજ્ય કસ્તૂરબાજી નામ પરથી રાખવામાં
                                                                    આવ્યું, જે ભવિષ્યની નારી શક્તિ માટે ઉત્તમ
                                                                    પાયારૂપ સાબિત થયું.
                                                                </p>
                                                                <p class="desc text-justify mb-2"><b>કસ્તુરબા કન્યા
                                                                        વિદ્યાલયની યશસ્વી યાત્રા:</b></p>
                                                                <p class="text-justify mb-2">📅 8 જૂન 1953ના રોજ ચરોતર
                                                                    એજ્યુકેશન સોસાયટીના ભૂતપૂર્વ
                                                                    વિદ્યાર્થી શ્રી શિવાભાઈ ગોકળભાઈ પટેલના હસ્તે શાળાની
                                                                    સ્થાપના કરવામાં આવી હતી.</p>
                                                                <p class="text-justify mb-2"><b>‘ચરોતર રત્ન’ શ્રી
                                                                        વિઠ્ઠલકાકા </b> જેવા શિક્ષણવિદના
                                                                    માર્ગદર્શન હેઠળ
                                                                    શાળાની વિકાસ યાત્રા શરુ થઇ છે.</p>
                                                                <p class="text-justify mb-2">👧 230 વિદ્યાર્થિનીઓથી શરૂ
                                                                    થયેલી આ શાળા આજે 2500 જેટલી
                                                                    વિદ્યાર્થીનીઓને આધુનિક ટેકનોલોજીથી શિક્ષિત કરે છે
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row  align-items-center">
                                                    <div class="sec-title">
                                                        <p class="text-justify mb-2">
                                                            🏫 35 હવા-ઉજાસવાળા વર્ગખંડો, આધુનિક પ્રયોગશાળાઓ
                                                        </p>
                                                        <p class="text-justify mb-1">કન્યાઓને રહેવા માટે છાત્રાલયની
                                                            સુવિધા</p>
                                                        <p class="text-justify mb-1">પ્રાથમિક, માધ્યમિક અને ઉચ્ચતર
                                                            માધ્યમિક વિભાગમાં NCERT અંતર્ગત
                                                            ગુજરાત સેકન્ડરી એજ્યુકેશન
                                                            બોર્ડના અભ્યાસ ક્રમ મુજબ ગુજરાતી માધ્યમમાં શિક્ષણ આપવામાં
                                                            આવે છે. </p>
                                                        <p class="text-justify mb-1">ધોરણ : ૯ થી ૧૨ વિજ્ઞાન પ્રવાહ તથા
                                                            સામાન્ય પ્રવાહ grant-in-aid ની
                                                            માન્યતા ધરાવે છે.</p>
                                                        <p class="text-justify mb-2">🔬 વિજ્ઞાન પ્રવાહ માટે Physics,
                                                            Chemistry, Biology ની વિશાળ
                                                            પ્રયોગશાળાઓ અને પ્રયોગશાળા ભવન
                                                        </p>
                                                        <p class="text-justify mb-2">💻 Mission Schools of Excellence
                                                            અંતર્ગત ICT Learning Lab (Computer
                                                            Laboratory) </p>
                                                        <p class="text-justify mb-2">ઉચ્ચતર માધ્યમિક વિભાગની
                                                            વિદ્યાર્થનીઓ માટે Sound Proof A.C. Classes
                                                        </p>
                                                        <p class="text-justify mb-1">શાળામાં રમતગમત માટે વિવિધ રમત મુજબ
                                                            અલગ મેદાન તથા coach ની ફાળવણી
                                                            ઉપરાંત નિષ્ણાંત કોચ ના
                                                            માર્ગદર્શનમાં NCC ટ્ટ્રેનિંગ </p>
                                                        <p class="text-justify mb-1">વિજ્ઞાન મેળો , ખેલ મહાકુંભ , SGFI ,
                                                            કલા મહાકુંભ , કલા મહોત્સવ
                                                            જેવી પ્રવૃત્તિઓમાં ભાગ લઇ વિદ્યાર્થનીઓના સર્વાંગી વિકાસના
                                                            પ્રયત્નો </p>
                                                        <p class="text-justify mb-1">પ્રખરતા શોધ કસોટી , NMMS , જ્ઞાન
                                                            સાધના , નમો લક્ષ્મી , નમો
                                                            સરસ્વતી જેવી સ્કોલરશીપ માટે પ્રોત્સાહન </p>
                                                        <p class="text-justify mb-1">ફાયર સેફટી સાથે સુસજ્જ ઈમારત</p>
                                                        <p class="text-justify mb-1">CES School Bus Transportation ની
                                                            સુવિધા </p>
                                                        <p class="desc text-justify mb-2"><b>કસ્તૂરબા કન્યા વિદ્યાલય
                                                                માત્ર</b> એક કન્યા શાળા નથી, પરંતુ
                                                            શિસ્તબદ્ધ અને સુરક્ષિત શૈક્ષણિક વાતાવરણ આપતું એક સંસ્કારધામ
                                                            છે – જ્યાં વિદ્યાર્થિનીઓને
                                                            સફળ શિક્ષણની સાથે ભારતીય સંસ્કૃતિ, નૈતિક મૂલ્યો અને આધુનિક
                                                            જ્ઞાન સાથે શિક્ષણ આપવામાં આવે
                                                            છે.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4 class="title purple-color mb-30">Vision</h4>
                                                <ul class="review-list">
                                                    <li>We have created an ambience, an atmosphere which fosters free
                                                        thinking
                                                        between the student - Teacher, Teacher- Parents,
                                                        Teacher-Principal,
                                                        Teacher-Management, Student- Management.</li>
                                                    <li>It is through these positive vibes and synergy that the quest
                                                        for
                                                        excellence is attained</li>
                                                    <li>Encouraging the students to be participative in Co-Curricular
                                                        activities.</li>
                                                    <li>Promoting a desire to learn, skill to learn independently and
                                                        creative
                                                        inquiry.</li>
                                                </ul>

                                                <h4 class="title purple-color mb-30">Mission</h4>
                                                <ul class="review-list">
                                                    <p>Stepping back in time, we reach that moment in 1964, when the
                                                        school was
                                                        conceptualized - dream of none other than Mr. Vitthalbhai J.
                                                        Patel who
                                                        with his vast experience in the field, dreamed of school "with a
                                                        difference". A school that would address the needs of the
                                                        majority, with
                                                        opportunities in learning that equipped children with global
                                                        perspectives with a deep Indian cultural. An environment that
                                                        natured
                                                        equally, the cognitive, emotional, social, physical and
                                                        spiritual
                                                        domains in a child.</p>
                                                    <p>Learning with enjoyment or enjoyment with learning can happen
                                                        only in a
                                                        warm and friendly atmosphere and that has been the unique
                                                        achievement of
                                                        Sardar Vallabhbhai Patel.</p>
                                                    <p>Sardar Vallabhbhai Patel High School is dedicated to providing
                                                        students
                                                        with an outstanding preparation for life in a safe and
                                                        environment of
                                                        open and respectful relationships in which learning; high
                                                        achievement
                                                        good character, and participation in the school community are
                                                        valued.
                                                    </p>
                                                    <p>Our school has a long standing reputation as a high performance
                                                        school.
                                                        The values to which are aspire are intended engage every
                                                        students at the
                                                        highest level of their learning through quality care and
                                                        teaching.</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Objectives" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Learning</h4>
                                                <ul class="review-list">
                                                    <li>Focus on teaching and learning.</li>
                                                    <li>Everyone can learn and achieve.</li>
                                                    <li>Purposeful, structured teaching.</li>
                                                    <li>Motivation high teaching standard.</li>
                                                    <li>Intensive staff development aimed at creating a learning
                                                        organization.
                                                    </li>
                                                    <li>Curriculum with strong focus on the need of all standards.</li>
                                                    <li>Maximum learning for each student.</li>
                                                </ul>
                                                <h4>High achievements</h4>
                                                <ul class="review-list">
                                                    <li>High expectations.</li>
                                                    <li>Regular monitoring of progress.</li>
                                                    <li>Prepare all students to succeed.</li>
                                                    <li>Inspire everyone to do one's best.</li>
                                                    <li>Identify individual talents and develop them.</li>
                                                </ul>
                                                <h4>High achievements</h4>
                                                <ul class="review-list">
                                                    <li>Develop into a responsible and socially well adjusted person.
                                                    </li>
                                                    <li>Promote acceptance and respect for all persons.</li>
                                                    <li>Promote love for and loyalty to the nation.</li>
                                                    <li>Service to the school.</li>
                                                    <li>Example of the staff, parents and student's leaders.</li>
                                                    <li>Good sportsmanship.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>