<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From From Principal's desk</h2>
                    <h5>GIRISHKUMAR DAHYABHAI PATEL
                        <br>
                        <span>Principal, D.N. High School (Secondary & Higher Secondary)</span>
                    </h5>
                    <p style="text-align: justify;">It gives me immense pleasure and delight as the principal of
                        D.N.High school managed by charotar
                        education society to welcome the 100 year celebration.It came into existence as a sapling in
                        1916 but now it has been like huge and vast banyan tree with its long aerial roots touching
                        to
                        the groundof success.Its fame and glory has spread far and wide luring the travellers who
                        are
                        desirous to attain the quality education.Its branches in the forms of schools and colleges
                        have
                        been playing a vital role in shaping their academic,emotional,physical and voeational skills
                        including activities for daily living.</p>

                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>
            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="servicesHome-box" style="text-align: justify;">
                    <p>Colours are colours with their names so as are children when colours are used within shapes,they
                        become gods and goddesses.This institution plays the same role.
                    </p>
                    <p>Our staff takes great pride in providing a safe and secure learning environment,while at the same
                        time leading our students towards overall growth and development.
                    </p>
                    <p>We always endeavor to make a child discover his/her abilities,learn to be love labour to work
                        creatively to be able to enjoy the ceaseless beauty of the world around and create beauty for
                        others also.</p>
                    <p>“ Sueeess will never lower its standard to accommodate us,we have to raise our standard to
                        achieve it ’’</p>
                </div>
            </div>
        </div>
    </div>
</section>