<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From Principal's desk</h2>
                    <h5>Niraliben J. Khandelwal
                        <br>
                        <span>- Principal (Secondary & Higher Secondary)</span>
                    </h5>
                    <p>આધુનિક સુવિધાઓથી ભરપુર શિસ્ત, સ્વચ્છતા અને અભ્યાસમાં સદાય મોખરે ફક્ત કન્યાઓને સર્વાંગી કેળવણી
                        આપતી કસ્તૂરબા કન્યા વિદ્યાલય ઈ.સ. ૧૯૫૩ થી સતત કાર્યરત છે. તેવી શાળામાં સેવા કરવાની તક મને મળી
                        છે. તે મારા માટે ગૌરવની વાત છે.
                        આજના સમયને અનુરૂપ આધુનિક પદ્ધતિથી શિક્ષણ અને સંસ્કારનું સિંચન કરતી શાળા એટલે કસ્તૂરબા કન્યા
                        વિદ્યાલય. આજ સુધી હજારો વિદ્યાર્થીનીઓ અભ્યાસ કરી દેશના ઉચ્ચ સ્થાન પર સ્થાન મેળવ્યું છે. અને
                        સમાજમાં મોભો સાચવ્યો છે. અભ્યાસની સાથે સાથે વ્યાયામ, સંગીત,ડાન્સ, ગરબા, અનિમેશન, ડ્રામા,
                        ક્રાફ્ટ, લાઈબ્રેરી ના ખાસ તાસ ગોઠવી તેઓના સર્વાંગી વિકાસ પર લક્ષ રાખવામાં આવે છે.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="servicesHome-box" style="text-align: justify;">
                    <p>સર્વે શિક્ષક મિત્રો સાથે અને કર્મચારીઓ સાથે કુટુંબભાવના કેળવી વિદ્યાર્થીનીઓને એકત્વનું શિક્ષણ
                        નજરે જોવા મળે છે. વિદ્યાર્થીનીઓ પોતાનામાં રહેલી જુદી જુદી સુષુપ્ત શક્તિઓને બહાર લાવી શકે અને તેઓ
                        દુનિયાના ખૂણે જાય તો પોતે પોતાના પગભર થઇ ને રહી શકે તેવા તમામ પ્રયત્નો આચરવાના પ્રયાસ રહે છે.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>